@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=SUSE:wght@100..800&display=swap');
*{
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/*-----------Pre-Loader---------------------------------*/

#preloader{
    height: 100vh;
    background-color: rgb(225, 239, 252);
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;  
}
.preloader--hidden{
    opacity: 0;
    visibility: hidden;
}
.car{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
    width: 200px;
    transform: translateX(-50%);
    animation: car 1s linear infinite;
}
.car img{
    width: 100%;
}
@keyframes car{
    100%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(2px);
    }
    0%{
        transform: translateY(-2px);
    }
}
.wheel{
    z-index: 2;
    position: absolute;
    transform: translateX(-50%);
    width: 38px;
}
.front-wheel{
    width: 36px;
    bottom: -40px;
    right: -76.5px;
    position: absolute;
    animation: wheel 1s linear  infinite;
}
.back-wheel{
    width: 36px;
    left: -41px;
    bottom: -41px;
    position: absolute;
    animation: wheel 1s linear infinite;
}
@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}

/*.preloader::after{
    content: " ";
    height: 50px;
    width: 50px;
    color: white;
    border: 10px solid white;
    border-top-color: black;
    border-radius: 50%;
    animation : loading 1s ease infinite;
    transition: 1s ;
}
@keyframes loading{
    from{ transform: rotate(0turn);}
    to{ transform: rotate(2turn);}
}*/

/*--------Back To Top-------------------------------------*/

.top-btn{
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(137, 43, 226, 0.728);
    color: white;
    padding-left: 18px;
    padding-right: 18px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    outline: none;
    z-index: 99;
    cursor: pointer;
    transition: 3s;
}
.top-btn:hover{
    background-color: blueviolet;
    transition: 0.5s;
}

/*---------Navigation-Bar-----=======================-------*/

.logo1{
    height: 60px;
    width: 190px;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:8px ; 
    padding-bottom: 8px;
}
.nav-links{
    text-align: center;
    display: flex;
    flex-direction: row;
}
.links{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    flex-direction: row;
}
.nav-links ul li::after{
    content: '';
    margin: auto;
    height: 3px;
    width: 0;
    background-color: blueviolet;
    display: block;
    transition: 0.6s;
    border-radius: 1px;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.active{
    background-color: rgb(225, 234, 241);
    border-radius: 5px;
    height: 20px;
    width: 60px;
}
.nav-links ul li{
    list-style: none;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.nav-links ul li a{
    text-decoration: none;
    color: black;
}
#drop-btn{
    display: none;
}
.button1{
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    background-color:white;
    color:  rgba(0, 0, 0, 0.808);
    border: 1.5px solid rgba(0, 0, 0, 0.808);
}

/*-----------Hero-Section--------------------------------------*/

.hero-content{
    animation: zoomIn  1s;
}
.hero-section{
    background-color: aliceblue;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    flex-direction: row;
    align-items: center;
}
.hero-heading{
    padding: 15px;
    font-weight: 600;
    font-size: 40px;
}
.hero-image{
    height: 370px;
    width: 475px;
    overflow: visible;
    align-items: center;
    background-size: 2px;
    border-bottom-left-radius:200%;
    border-top-right-radius: 200%;
    border-top-left-radius: 350px;
    border-bottom-right-radius: 360px;
    background-image: linear-gradient(120deg,blueviolet,#bfc9cd);
    animation: slideIn 1.5s;
}
.hero-image:hover{
    transform: scale(1.02);
    transition: 1s;
}
.button2{
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    border: none;
    margin-left: 15px;
}
.button2 a{
    color: white;
    text-decoration: none;
}
.button2:hover{
    transform: scale(1.04); 
    background-color: black;
    transition: 1s;
}

/*-----------Pick-Drop-Section-------------------------------------*/

.pickup-section{
    background-image: url(images/car\ image.jpg);
    padding: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.pickup-form{
    background-color: white;
    border-radius:10px;
    margin-right: 7.5%;
    display: flex;
    height: 70%;
    width: 46%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pickup-head{
    font-size: 28px;
    font-weight: 600;
    padding: 10px;
}
.pickup-place{
    display: flex;
    flex-direction: row;
    width:89%;
}
.pickup-input{
    padding: 10px;
    border: 1.5px solid rgb(114, 114, 173);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-width: 500px;
    width: 100%;
    height: 20px;
}
.drop-input{
    width: 47%;
    padding: 10px;
    border-radius: 5px;
    border: 1.5px solid rgb(104, 104, 158);
    margin-top: 20px;
    margin-bottom: 10px;
    display: none;
    margin-left: 20px;
}
.line1{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.pickup input,.drop input{
    border: 1.5px solid rgb(107, 107, 181);
    padding: 10px;
    border-radius: 5px;
    width: 75%;
    height: 20px;
}
.pickup,.drop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
}
#places{
    margin: 3px;
}
.pick-up-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 10px;
}
.switch{
    position: relative;
    display: inline-block;
    height: 23px;
    width: 41px;
    margin: 10px;
}
.switch-para{
    font-size: 15px;
    margin-top: 15px;
}
.switch input{
    opacity: 0;
    height: 0;
    width: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(208, 217, 219);
    transition: 1s;
    border-radius: 20px;
}
.slider:before{
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    height: 17px;
    width: 17px;
    transition: 1s;
    border-radius: 50%;
    margin: 3px;
}
input:checked + .slider {
    background-color: blueviolet;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px ;
}
input:checked + .slider:before {
    transform: translateX(18px);
}
.slide-button{
    display: flex;
}
.button4{
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    background-image: linear-gradient(rgb(84, 56, 210),rgba(222, 152, 23, 0.874));
    margin: 10px;
}
/*------------Key-Frames------------------------------------*/
@keyframes zoomIn{
    from{
        transform: scale(0);
    }
    to{ 
        transform: scale(100%);
    }
}
@keyframes slideIn {
    from{
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes slideDown {
    from{
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

/*----------WebKit-------------------------------------------*/

::-webkit-scrollbar{
    width:8px ;
    background-color: antiquewhite;
    border-radius: 8px;
}
::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background-color: rgba(137, 43, 226, 0.728);
}

/*--------Features-Section-----------------------------------*/

.features-section1{
    margin: 45px;
    display: flex;
}
.feat-logo1{
    height: 100px;
    width: 112px;
    margin: 10px;
}
.feat-logo2{
    height: 75px;
    width: 85px;
    margin: 17px;
}
.features-para{
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.feature1,.feature2,.feature3{
    display: flex;
    align-items: center;
}
.features2 p{
    margin-top: 13px;
    font-size: 15px;
}

/*-----------Info-Section-------------------------*/

.Info-section{
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
}
.info-images{
    height: 200px;
    width: 200px;
    margin: 0px;
}
.info-head{
    margin-top: 0px;
    margin-bottom: 20px;
}

/*----------Clients-Section--------------------------------*/

.clients .logos{
    height: 80px;
    width: 140px;
}
.clients{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.clients-section1{
    margin: 2%;
}
.brands{
    font-size: 30px;
    font-weight: 600;
}

/*----------Location-------------------------------------*/

.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.map{
    margin: 20px;
    border: none;
    width: 80vw;
    height: 300px;
}



.app-ribbon{
    background-color: #0082CE;
    margin: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 12px;
    display:flex;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    align-items: center;
}
.ribbon-logo{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
.ribbon-head{
    margin:0px;
    font-size: 24px;
}
.ribbon-para{
    margin-left: 4px;
    font-size: 16px;
}
.app-ribbon-head{
    font-size: 10px;

}
.ribbon1{
    display: flex;
    flex-direction: row;
}
.app-ribbon-para{
    font-size:15px ;
}
.app-link1{
    background-color: black;
    margin: 8px;
    padding: 8px;
    border-radius: 8px;
    width: 100px;
}
/*-------------Footer-----------------------------------*/

footer{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
}
.footer1{
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    width: 70vw;
}
.footer-link1 ul{
    display: flex;
    flex-direction: column;
}
.footer-link1 ul li{
    list-style: none;
    margin: 4px;
    font-size: 17px;
}
.footer-link1 ul li a{
    font-size: 17px;
    color: black;
    text-decoration: none;
}
.footer-input{
    padding: 8px;
    margin-top: 10px;
}
h3{
    padding: 5px;
    font-weight: 600;
}
.footer2{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.subm-but{
    padding: 9px;
    padding-bottom: 9px;
    background-color: blueviolet;
    color: white;
    font-size: 15px;
    border: 0px;
    border-radius: 5px;
    margin-left: 5px;
}
.sub-but{
    display: flex;
    align-items: center;
    justify-content: left;
}
.footer-media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-media p{
    margin-top: 5px;
    margin-left: 20px;
}
.footer-media .image1{
    margin-right: 3px;
    margin-bottom: 15px;
}
.media-links{
    margin-left: 20px;
}













/*-------------Media-------------------------------*/

@media (max-width:850px){
    body .hero-section{
        display: flex;
        flex-direction: column;
    }   
    .hero-image{
        height: 350px;
        width: 420px;
    }
    .hero-heading{
        font-size: 30px;
    }
    .hero-section{
        padding: 40px;
    }
    .nav-links ul li{
        display: inline-block;
        margin: 3px;
    }
    .nav-links button{
        display: inline-block;
        margin: 4px;
    }
    .nav-links{ 
        position: relative;
        display: block;
        background-color: white;
    }
    .links{
        left: 20px;
        display: none;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        position: fixed;
        margin-top: 80px;
        z-index: 1; 
        border-radius: 30px;  
        height: 60px;
        background-color: white;
        width: 90%;
    }
    #drop-btn{
        display: block;
        margin: 16px;
        padding: 10px;
        background-color: white;
        border: 0.2px solid black;
        border-radius: 5px;
    }
    .pickup-section{
        height: 350px;
    }
    .pickup-form{
        height: 80%;
        width: 55%;
    }
    .pickup-head{
        font-size: 24px;
    }
    .pickup-input{
        height: 10px;
    }
    .drop-input{
        height: 10px;
    }
    .pickup input,.drop input{
        height: 10px;
    }
    .switch-para{
        font-size: 14px;
        margin: 2px;
    }
    .switch{
        margin: 2px;
        margin-left: 30px;
    }
    .slide-button{
        display: flex;
        flex-direction: column;
    }
    .show{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        animation: slideDown 1s;
    }
    .drop-btn:active{
        background-color: rgba(130, 117, 141, 0.432);
    }
    .pickup-content{
        display: flex;
        flex-direction:column;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer .footer1{
        width: 86vw;
    }
    .footer-input{
        width: 320px;
    }
    .features-section1{
        display: flex;
        flex-direction: column;
    }
    .feature1,.feature2,.feature3{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .brands{
        font-size: 25px;
    }
    .info-images{
        height: 160px;
        width: 160px;
        margin: 0px;
    }
    .info-head{
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 20px;
    }
    .popular-car{
        padding: 15px;
    }
    .popular-car .pop-1{
        height: 270px;
        width: 150px;
        border: 1px solid black;
        margin: 5px;
        border-radius: 8px;
        padding: 10px;
        background-color: white;
    }
    .popular-car .car-head{
        font-size: 15px;
    }
    .popular-car .pop-details img{
        height: 26px;
        width: 26px;
    }
    .popular-car .brands{
        margin-left: 14px;
        font-size: 22px; 
        padding: 10px;
    }
    .popular-car .pop-details p{
        font-size: 14px;
    }
    .popular-car .pop-img{
        height: 85px;
        width: 125px;
    }
    .popular-car .pop-but{
        width: 100%;
        background-color: #5d89e7;
        border-radius: 5px;
        padding:5px;
        border: none;
        font-size: 13px;
        color: white;
        margin-top: 10px;
    }
    .popular-car .pop-para{
        font-size: 14px;
        margin-left: 3px;
    }
    .pop-image{
        height: 105px;
        width: 125px;
    }
    .blog-section .blog-images img{
        height: 145px;
        width: 220px;
        margin: 5px;
    }
    .blog-section .blog .blog-list{
        margin: 3px;
    }
    .blog-section .blog{
        padding: 10px;
    }
    .blog-section .blog p{
        margin: 4px;
    }
    .blog-section .high{
        margin: 1px;
    }
    .blog-section .blog .blog-head{
        margin: 5px;
        font-weight: 600;
        font-size: 26px;
    }
    .blog-section .blog .blog-para{
        margin: 10px;
    }
    .app-ribbon{
        margin: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        color: white;
    }
    .ribbon-logo{
        height: 70px;
        width: 70px;
    }
    .ribbon-head{
        margin:0px;
        font-size: 20px;
    }
    .ribbon-para{
        margin-left: 4px;
        font-size: 14px;
    }
    .app-ribbon-head{
        font-size: 8px;
    
    }
    .app-ribbon-para{
        font-size:12px ;
    }
    .app-link1{
        background-color: black;
        margin: 5px;
        padding: 5px;
        border-radius: 6px;
        width: 70px;
    }
}
@media (max-width:568px){
    .hero-image{
        height: 270px;
        width: 350px;
    }
    .hero-para{
        font-size: 13px;
    }
    .hero-section{
        padding: 20px;
    }
    .nav-links{
        left: 0;
        right: 0;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{ 
        position: relative;
        display: flex;
        background-color: white;
    }
    .links{
        display: none;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        margin-top: 70px;
        width: 80%;
        border-radius: 0px;
        min-height: 50vh;
        border-radius: none;
        background-color: transparent;
        background-image: linear-gradient(rgba(254, 254, 255, 0.808),rgba(255, 255, 255, 0.813));
    }
    #drop-btn{
        display: block;
        margin: 16px;
        padding: 10px;
        height: 16px;
        border: 0.2px solid black;
        border-radius: 5px;
    }
    .pickup-section{
        height: 250px;
    }
    .pickup-form{
        height: 90%;
        width: 67%;
        margin-right: 3%;
    }
    .pickup-head{
        font-size: 17px;
    }
    .pickup-input{
        height: 3px;
        margin-top: 3px;
    }
    .drop-input{
        height: 3px;
        margin-top: 3px;
    }
    .line1 h3{
        font-size: 15px;
    }
    .pickup input,.drop input{
        height: 3px;
    }
    .switch{
        margin: 1px;
        height: 20px;
        width: 38px;
        margin-left: 40px;
    }
    .slider:before{
        height: 14px;
        width: 14px;
    }
    input:checked + .slider:before {
        transform: translateX(16.5px);
    }
    .switch-para{
        margin: 4px;
    }
    .slide-button{
        display: flex;
        flex-direction: column;
    }
    .show{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        animation: slideDown 1.5s;
    } 
    .footer .footer1{
        display: flex;
        flex-direction: column;
    }
    .footer-link1 ul{
        margin: 5px;
    }
    .footer-link1 ul li{
        font-size: 14px;
    }
    .footer-link1 ul li a{
        font-size: 14px;
    }
    .body .footer-media{
        display: flex;
        flex-direction: column;
    }
    .body .footer-media p{
        font-size: 13px;
    }
    .clients .logos{
        height: 45px;
        width: 88px;
    }
    .media-links{
        margin-top: 20px;
    }
    .brands{
        font-size: 20px;
        font-weight: 600;
    }
    .popular-car .brands{
        margin-left: 14px;
        font-size: 20px; 
        padding: 10px;
    }
    .info-images{
        height: 123px;
        width: 123px;
        margin: 0px;
    }
    .info-head{
        font-size: 13px;
        margin-top: 0px;
        margin-bottom: 15px;
    }
    .map{
        width: 82vw;
        height: 50vh;
    }
    .not-found-section .page-image{
        margin-left: 0px;
        margin-right: 0px;
    }
    .not-found-section .page-found-para{
        font-size: 9px;
    }
    .popular-car .popular{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .pop-1{
        margin: 10px;
    }
    .blog-section .blog-images img{
        height: 140px;
        width: 280px;
        margin: 5px;
    }
    .blog-section .blog-images{
        flex-direction: column;
    }
    .blog-section .blog .blog-list{
        margin: 0px;
        font-size: 15px;
    }
    .blog-section .blog .order{
        margin: 0px;
        font-size: 15px;
    }
    .blog-section .blog h3{
        margin: 3px;
        font-size: 14px;
    }
    .blog-section .blog li{
        margin: 3px;
        font-size: 14px;
    }
    .blog-section .blog{
        padding: 10px;
    }
    .blog-section .blog p{
        margin: 4px;
        font-size: 14px;
    }
    .blog-section .high{
        margin: 1px;
    }
    .blog-section .blog .blog-head{
        margin: 3px;
        font-weight: 600;
        font-size: 21px;
    }
    .blog-section .blog .blog-para{
        margin: 8px;
    }
    .app-ribbon{
        margin: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 8px;
        padding-bottom: 8px;
        border-radius: 8px;
        color: white;
    }
    .ribbon-logo{
        height: 50px;
        width: 50px;
    }
    .ribbon-head{
        margin:0px;
        font-size: 14px;
    }
    .ribbon-para{
        margin-left: 4px;
        font-size: 10px;
    }
    .app-ribbon-head{
        font-size: 5px;
    }
    .app-ribbon-para{
        font-size:8px ;
    }
    .app-link1{
        margin: 4px;
        padding: 4px;
        border-radius: 5px;
        width: 50px;
    }
}
@media (max-width:395px){
    .hero-image{
        height: 250px;
        width: 300px;
    }
    .hero-heading{
        padding: 10px;
        font-size: 20px;
    }
    .hero-section{
        padding: 15px;
    }
    .footer-input{
        width: 200px;
    }
    .pickup-section{
        height: 180px;
    }
    .pickup-form{
        height: 97%;
        width: 75%;
        margin-right: 1%;
    }
    .pickup-head{
        font-size: 13px;
    }
    .pickup-input{
        height: 0px;
        margin-top: 0px;
    }
    .drop-input{
        height: 0px;
        margin-top: 0px;
    }
    .line1 h3{
        font-size: 11px;
    }
    .pickup input,.drop input{
        height: 0px;
    }
    .switch{
        margin: 1px;
        height: 15px;
        width: 30px;
        margin-left: 20px;
    }
    .slider:before{
        height: 9.5px;
        width: 9.5px;
    }
    input:checked + .slider:before {
        transform: translateX(16.5px);
    }
    .switch-para{
        font-size: 9px;
        margin-left: 10px;
    }
    .button4{
        height: 20px;
        width: 60px;
        padding: 1px;
        padding-left: 5px;
        padding-left: 5px;
        font-size: 10px;
    }
    button{
        font-size: 12px;
        height: 29px;
    }
    .features-section1{
        margin: 20px;
    }
    .feat-logo1{
        height: 80px;
        width: 80px;
        margin: 7px;
    }
    .feat-logo2{
        height: 55px;
        width: 68px;
        margin: 12px;
    }
    .features-para{
        font-size: 12px;
        margin-top: 20px;
        margin-right: 0px;
        margin-bottom: 10px;
    }
    .feature1,.feature2,.feature3{
        display: flex;
        align-items: center;
    }
    .features2 p{
        margin-top: 10px;
        font-size: 10px;
    }
    .clients .logos{
        height: 39px;
        width: 76px;
    }
    .brands{
        font-size: 14px;
        font-weight: 600;
    }
    .info-images{
        height: 90px;
        width: 90px;
        margin: 0px;
    }
    .info-head{
        font-size: 8px;
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .popular-car .popular{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 10px;
        margin: 10px;
    }
    #popular-car .brands{
        margin-left: 14px;
        font-size: 14px; 
        padding-top: 10px;
    }
    .popular-car .pop-1{
        height: 220px;
        width: 120px;
        border: 1px solid black;
        margin: 5px;
        border-radius: 8px;
        padding: 10px;
        background-color: white;
    }
    .popular-car .car-head{
        font-size: 15px;
    }
    .popular-car .pop-details img{
        height: 20px;
        width: 20px;
    }
    .popular-car .pop-details p{
        font-size: 10px;
    }
    .popular-car .pop-img{
        height: 70px;
        width: 110px;
    }
    #bother-1{
        height: 75px;
    }
    .popular-car .pop-details{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        height: 10px;
    }
    .popular-car .pop-rate{
        align-self: right;
        font-size: 12px;
    }
    .popular-car .pop-but{
        width: 100%;
        background-color: #5d89e7;
        border-radius: 5px;
        padding:0px;
        border: none;
        font-size: 10px;
        color: white;
        margin-top: 10px;
    }
    .popular-car .pop-para{
        font-size: 10px;
        margin-left: 3px;
    }
    .blog-section .blog-images img{
        height: 130px;
        width: 260px;
        margin: 5px;
    }
    .ribbon-logo{
        height: 40px;
        width: 40px;
    }
    .ribbon-head{
        font-size: 11px;
    }
    .ribbon-para{
        margin-left: 4px;
        font-size: 8px;
    }
    .app-ribbon-head{
        font-size: p4x;
    }
    .app-ribbon-para{
        font-size:7px ;
    }
    .app-link1{
        margin: 3px;
        padding: 3px;
        border-radius: 3px;
        width: 40px;
    }
    .app-ribbon{
        margin: 10px;
        padding: 8px;
        border-radius: 8px;
        color: white;
    }
}
@media (max-width:1000px){
    #popular-car .popular .pop-1{
        margin: 5px;
    }
}

/*--------Page not found-------------*/

.not-found-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(48, 87, 163);
}
.page-image{
    margin-left: 60px;
    margin-right: 60px;
}
.page-found-para{
    padding: 10px;
    align-self: center;
    font-size: 15px;
    color: white;
    background-color: rgb(48, 87, 163);
}



















/* Modal Styles */
.login-section,.signup-section{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.login,.signup{
    background-color: aliceblue;
    margin-left: 15%;
    margin-right:15%;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #888;
    height: 70%;
    width: 63%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: row;
}
.login-details{
    display: inline-flex;
    flex-direction: row;
    align-self: center;
}
.close {
    color: #5d89e7;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    transform: scale(1rem);
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.login-content{
    height: 100%;
    background-color: white;
}
.login-image{
    width: 50%;
}
.login-image img{
    height:250px;
    width: 400px;
}

.modal-btn {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.modal-btn:hover {
    background-color: #4cae4c;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 40%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*-----------------------------------*/
.popular-car .brands{
    margin-left: 14px;
    font-size: 30px; 
    padding: 20px;
}
.popular-car{
    background-color: rgba(245, 245, 245, 0.804);
}
.popular{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 50px;
    margin-left: 20px;
}
.pop-1{
    height: 320px;
    width: 200px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 8px;
    padding: 12px;
    background-color: white;
}
.pop-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pop-details{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    height: 25px;
}
.pop-rate{
    align-self: right;
}
.pop-but{
    width: 100%;
    background-color: #5d89e7;
    border-radius: 5px;
    padding:8px ;
    border: none;
    color: white;
    margin-top: 10px;
}
.pop-para{
    font-size: 17px;
    margin-left: 5px;
}


/*-------------Blog-section------------*/

.blog-list{
    list-style: number;
    font-size: 20px;
    font-weight: 500;
    margin: 8px;
}
.blog-section{
    background-color: rgba(250, 235, 215, 0.221);
}
.blog h3{
    font-family: "SUSE", sans-serif;
}
.blog{
    padding: 30px;
}
.blog p{
    margin: 8px;
    font-family: "SUSE", sans-serif;
}
.high{
    list-style: disc;
    font-family: "SUSE", sans-serif;
    margin: 6px;
}
.blog ul{
    display: block;
}
.blog .blog-head{
    margin: 10px;
    font-weight: 600;
    font-size: 30px;
    font-family: "SUSE", sans-serif;
}
.blog li{
    font-family: "SUSE", sans-serif;
}
.blog .blog-para{
    margin: 15px;
}
.blog-images img{
    height: 200px;
    width: 370px;
    margin: 5px;
}
.blog-images{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog-s2{
    background-color: white;
}